# {{ ansible_managed }}

authoritative;

option domain-name "{{ infra_domain }}";
option domain-name-servers {{ infra_server_ip }};

default-lease-time {{ dhcp_default_lease }};
max-lease-time {{ dhcp_max_lease }};

log-facility local7;

subnet {{ infra_network }} netmask {{ infra_netmask }} {
  range {{ dhcp_range_start }} {{ dhcp_range_end }};
{% if dhcp_gateway | default('') | length > 0 %}
  option routers {{ dhcp_gateway }};
{% endif %}
  option broadcast-address {{ infra_network | regex_replace('\.0$', '.255') }};
}

{% if dhcp_reservations is defined and dhcp_reservations | length > 0 %}
# Reservas estaticas MAC -> IP
{% for res in dhcp_reservations %}
host {{ res.name }} {
  hardware ethernet {{ res.mac }};
  fixed-address {{ res.ip }};
}
{% endfor %}
{% endif %}
